{namespace neos=Neos\Neos\ViewHelpers}
<div>
	<div id="banner" class="box container">
		<div class="row">
			<div class="7u 12u(medium)">
				<h2>Welcome to {conference.title} {conference.startDate -> f:format.date(format: 'Y')}</h2>
				<p>Lorem ipsum dolor</p>
			</div>
			<div class="5u 12u(medium)">
				<ul>
					<li>
						<neos:link.node class="button big icon fa-arrow-circle-right" node="{schedule.node}"/>
					</li>
					<li>
						<neos:link.node class="button alt big icon fa-question-circle" node="{venue.node}"/>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>