{namespace neos=Neos\Neos\ViewHelpers}
<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="7u 12u(medium)">
				<h2>{room.title}</h2>
				<p>Lorem ipsum dolor</p>
			</div>
		</div>
	</div>
</div>