{namespace neos=Neos\Neos\ViewHelpers}
<div class="4u 12u(medium)">
	<section class="box feature">
		<neos:link.node class="image featured" node="{room.node}">
			<img src="../Public/Images/pic0{roomIteration.cycle}.jpg" alt="" style="height: 40px">
		</neos:link.node>
		<div class="inner">
			<header>
				<h2>{room.title}</h2>
			</header>
		</div>
	</section>
</div>