{namespace neos=Neos\Neos\ViewHelpers}
<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row">
			<div class="7u 12u(medium)">
				<h2>
					{session.title}
					<f:security.ifAccess privilegeTarget="Wwwision.NeosCon:SessionLikes">
						<a href="#" class="like-button" data-session-id="{session.identifier}"></a>
					</f:security.ifAccess>
				</h2>
				{neos:contentElement.editable(property: 'abstract', tag: 'p')}
			</div>
		</div>
	</div>
</div>