{namespace neos=Neos\Neos\ViewHelpers}
<div class="4u 12u(medium)">
	<section class="box feature">
		<div class="image featured">
			<f:security.ifAccess privilegeTarget="Wwwision.NeosCon:SessionLikes">
				<a href="#" class="like-button" data-session-id="{session.identifier}"></a>
			</f:security.ifAccess>
			<img src="../../Public/Images/pic0{sessionIteration.cycle}.jpg" alt="" style="height: 40px">
		</div>
		<div class="inner">
			<header>
				<h2>
					<neos:link.node class="image featured" node="{session.node}">
						{session.title}
					</neos:link.node>
				</h2>
			</header>
		</div>
	</section>
</div>