{namespace neos=Neos\Neos\ViewHelpers}
<div class="4u 12u(medium)">
	<section class="box feature">
		<neos:link.node class="image featured" node="{speaker.node}">
			<f:render partial="Image" arguments="{image: speaker.image, width: 370}"/>
		</neos:link.node>
		<div class="inner">
			<header>
				<h2>{speaker.fullName}</h2>
			</header>
		</div>
	</section>
</div>