{namespace neos=Neos\Neos\ViewHelpers}
<div id="banner-wrapper">
	<div id="banner" class="box container">
		<div class="row 200%">
			<div class="4u 12u(medium)">
				<div id="sidebar">
					<section class="widget thumbnails">
						<f:render partial="Image" arguments="{image: speaker.image, width: 290}"/>
					</section>
				</div>

			</div>
			<div class="8u 12u(medium) important(medium)">
				<div id="content">
					<section class="last">
						<h2>{speaker.fullName}</h2>
						{neos:contentElement.editable(property: 'bio', tag: 'p')}
					</section>
				</div>
			</div>
		</div>
	</div>
</div>
{sessionsBlock -> f:format.raw()}