{namespace neos=Neos\Neos\ViewHelpers}
<section class="box feature">
	<div class="inner">
		<header>
			<f:if condition="{session}">
				<f:then>
					<h2>
						<neos:link.node node="{session}">
							{session.label}
						</neos:link.node>
					</h2>
				</f:then>
				<f:else>
					<h2><em>no session selected</em></h2>
				</f:else>
			</f:if>
		</header>
	</div>
</section>