{namespace neos=Neos\Neos\ViewHelpers}
<div id="banner-wrapper">
	<neos:contentElement.wrap>
		<div id="banner" class="box container">
			<div class="row">
				<div class="7u 12u(medium)">
					{neos:contentElement.editable(property: 'bannerHeader', tag: 'h2')}
					{neos:contentElement.editable(property: 'bannerText', tag: 'p')}
				</div>
			</div>
		</div>
	</neos:contentElement.wrap>
</div>