<div id="features-wrapper">
	<div class="container">
		<div class="row">
			<div class="12u">
				<section class="box feature">
					<div class="map">
						<div class="canvas"></div>
						<f:if condition="{address}">
							<span class="marker" data-latitude="{address.latitude}"
								  data-longitude="{address.longitude}">{address}</span>
						</f:if>
					</div>
				</section>
			</div>
		</div>
	</div>
</div>