{namespace form=Neos\Form\ViewHelpers}
<div id="banner" class="box container">
	<div class="row">
		<div class="12u 12u(medium)">
			<h2>Newsletter</h2>
			<p>Sign-up to our conference newsletter here</p>
		</div>
	</div>
	<br/>
	<form:render persistenceIdentifier="newsletterSubscription" presetName="neoscon"/>
</div>