{namespace form=Neos\Form\ViewHelpers}
<form:form action="index" object="{form}" method="post" id="{form.identifier}" section="{form.identifier}"
           enctype="multipart/form-data">
    <form:renderRenderable renderable="{form.currentPage}"/>

    <div class="actions">
        <f:form.button name="__currentPage" value="{form.pages -> f:count()}"
                       class="button big icon fa-arrow-circle-right">
            <f:if condition="{form.renderingOptions.submitButtonLabel}">
                <f:then>
                    {form.renderingOptions.submitButtonLabel -> f:translate(package:
                    '{form.renderingOptions.translationPackage}')}
                </f:then>
                <f:else>
                    {f:translate(id: 'forms.navigation.submit', package: '{form.renderingOptions.translationPackage}',
                    value: 'Submit')}
                </f:else>
            </f:if>
        </f:form.button>
    </div>
</form:form>