{namespace neos=Neos\Neos\ViewHelpers}
{namespace media=Neos\Media\ViewHelpers}
<f:if condition="{image}">
	<f:then>
		<media:image image="{image}" alt="{image.caption}" width="{width}" height="{height}" class="{class}" />
	</f:then>
	<f:else>
		<f:if condition="{neos:rendering.inEditMode()}">
			<img src="{f:uri.resource(package: 'Neos.Neos', path: 'Images/dummy-image.svg')}" title="Dummy image" alt="Dummy image" class="neos-handle" width="{width}" />
		</f:if>
	</f:else>
</f:if>