<div id="banner" class="box container">
	<div class="row">
		<div class="12u 12u(medium)">
			<h2>{f:security.ifAuthenticated(then: 'Logout', else: 'Login')}</h2>
		</div>
	</div>
	<br>
	<f:render partial="FlashMessages"/>

	<f:security.ifAccess privilegeTarget="Neos.Neos:Backend.GeneralAccess">
		<f:then>
			<p>The Frontend User Login Form is disabled in backend mode.</p>
		</f:then>
		<f:else>
			<f:security.ifHasRole role="Neos.Flow:AuthenticatedUser">
				<f:then>
					<f:form action="logout">
						<f:form.button type="submit" class="button big icon fa-sign-in">Logout</f:form.button>
					</f:form>
				</f:then>
				<f:else>
					<f:form action="authenticate" method="post">
						<div class="clearfix">
							<label for="wwwision-neoscon-username">Username:</label>
							<div class="col-lg-8">
								<input type="text" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][username]" placeholder="username" id="wwwision-neoscon-username"/>
							</div>
						</div>
						<div class="clearfix">
							<label for="wwwision-neoscon-password">Password:</label>
							<div class="col-lg-8">
								<input type="password" name="__authentication[Neos][Flow][Security][Authentication][Token][UsernamePassword][password]" placeholder="username" id="wwwision-neoscon-password"/>
							</div>
						</div>
						<div class="actions">
							<f:form.button type="submit" class="button big icon fa-sign-in">
								Sign in
							</f:form.button>
						</div>
					</f:form>
				</f:else>
			</f:security.ifHasRole>
		</f:else>
	</f:security.ifAccess>
</div>