<!DOCTYPE html>
<!--
	Template: Verti by HTML5 UP, html5up.net | @ajlkn | Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
{namespace neos=Neos\Neos\ViewHelpers}
{namespace fusion=Neos\Fusion\ViewHelpers}
<html>
<head>
	<title>NeosCon - default template</title>
	<meta charset="utf-8"/>
	<meta name="viewport" content="width=device-width, initial-scale=1"/>
	<f:section name="stylesheets">
		<!--[if lte IE 8]>
		<script src="../Public/Scripts/ie/html5shiv.js"></script><![endif]-->
		<link rel="stylesheet" href="../Public/Styles/main.css"/>
		<!--[if lte IE 8]>
		<link rel="stylesheet" href="../Public/Styles/ie8.css"/><![endif]-->
	</f:section>
</head>
<body>
<f:section name="body">
	<div id="page-wrapper">

		<div id="header-wrapper">
			<header id="header" class="container">

				<div id="logo">
					<h1>
						<neos:link.node node="~">NeosCon</neos:link.node>
					</h1>
				</div>

				{parts.menu -> f:format.raw()}

			</header>
		</div>
		{content.banner -> f:format.raw()}
		{content.main -> f:format.raw()}
	</div>
</f:section>
<f:section name="bodyScripts">
	<script src="../Public/Scripts/jquery.min.js"></script>
	<script src="../Public/Scripts/jquery.dropotron.min.js"></script>
	<script src="../Public/Scripts/skel.min.js"></script>
	<script src="../Public/Scripts/util.js"></script>
	<script src="../Public/Scripts/main.js"></script>
	<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBD4B8asEoSDfhmWa8SK6oukIKJ0UciejM&callback=initializeMaps" async defer></script>
</f:section>
</body>
</html>
